@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
.carousel-btn {
  color: white;
  background-color: #ff3584;
}
.our-bg-color{
  background-color:#FDF4FA;
}